/* write your override styles here */
#tag-1 {
  background: none !important;
}
#tag-2 {
  background: none !important;
}
#tag-3 {
  background: none !important;
}
#tag-4 {
  background: none !important;
}
#tag-5 {
  background: none !important;
}
#tag-6 {
  background: none !important;
}
#tag-7 {
  background: none !important;
}